*.o*
*.mod*
*.ko*
*.order*
*.symvers*
*~*
*#*
bkp/*
.cache/*
build/*
.cache
example/.cache
compile_commands.json
subprojects/c_minilib_error
subprojects/c_minilib_config
subprojects/unity
example/subprojects/c_minilib_error
example/subprojects/c_minilib_config
example/subprojects/unity
generate_error.txt
message.sip